<!Doctype html>
<html>

<head>
  <title>Sohail Application</title>
</head>

<body style="background-image: linear-gradient(#6e72fc,#ad1deb);">
  <h1 style="text-align: center;">Hello Users Welcome to Customer's Dashboard</h1>
  <div class="Login-Signup-Container">
    <!-- Login Container -->
    <div class="Login-Container" *ngIf="loginFlag">
      <div class="Login-Signup-Buttons">
        <button (click)="LoginMenuClick()">Login</button>
        <button (click)="SignUpMenuClick()">SignUp</button>
      </div><br>
      <div class="Unit-Field">
        <label>Username</label>
        <input type="text" placeholder="Username" [(ngModel)]="loginDetails.username" />
      </div><br>
      <div class="Unit-Field">
        <label>Password</label>
        <input type="text" placeholder="Password" [(ngModel)]="loginDetails.password" />
      </div><br>
      <div class="Unit-Field" style="color: red;font-weight: bold;" *ngIf="lerrorFlag">
        <caption>{{errorMessage}}</caption>
      </div><br>
      <div class="Unit-Field">
        <button (click)="LoginBtnClick()">LOGIN</button>
        <caption>Don't have an account? Please <a href="">Signin</a></caption>
      </div>
    </div>
    <!-- Signin Container -->
    <div class="Login-Container" *ngIf="signupFlag">
      <div class="Login-Signup-Buttons">
        <button (click)="LoginMenuClick()">Login</button>
        <button (click)="SignUpMenuClick()">SignUp</button>
      </div><br>
      <div class="Unit-Field">
        <label>FirstName</label>
        <input type="text" placeholder="FirstName" [(ngModel)]="signupDetails.firstname" />
      </div><br>
      <div class="Unit-Field">
        <label>LastName</label>
        <input type="text" placeholder="LastName" [(ngModel)]="signupDetails.lastname" />
      </div><br>
      <div class="Unit-Field">
        <label>Email</label>
        <input type="text" placeholder="Email" [(ngModel)]="signupDetails.email" />
      </div><br>
      <div class="Unit-Field">
        <label>Set Password</label>
        <input type="password" placeholder="Set Password" [(ngModel)]="signupDetails.spassword" />
      </div><br>
      <div class="Unit-Field">
        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm Password" [(ngModel)]="signupDetails.cpassword" />
      </div><br>
      <div class="Unit-Field" style="color: red; font-weight: bold;" *ngIf="serrorFlag">
        <caption>{{errorMessage}}</caption>
      </div><br>
      <div class="Unit-Field" style="color: green; font-weight: bold;" *ngIf="successFlag">
        <caption>{{successMessage}}</caption>
      </div><br>
      <div class="Unit-Field">
        <button (click)="SignUpBtnClick()">SIGN UP</button>
        <caption>Already an account? Please <a href=""> Login</a></caption>
      </div>
    </div>
  </div>
  <div style="height: 200px">
  </div>
</body>

</html>